<div class="wrapper__home__container__fifth-section">
  <div class="wrapper__home__container__fifth-section__container">
    <span class="wrapper__home__container__fifth-section__container__title">
      Want to stay connected?
    </span>
    <span class="wrapper__home__container__fifth-section__container__description">
      Subscribe here to stay up-to-date on the technologies defining today and
      shaping tomorrow.
    </span>
    <div class="wrapper__home__container__fifth-section__container__form">
      <app-home-core-connect-form></app-home-core-connect-form>
    </div>
  </div>
  <div class="wrapper__home__container__fifth-section__overlay"></div>
</div>
