<div class="wrapper__home__container__fourth-section">
  <span class="wrapper__home__container__fourth-section__subtitle">
    customization
  </span>
  <span class="wrapper__home__container__fourth-section__title">
    our services
  </span>
  <span class="wrapper__home__container__fourth-section__description">
    We, the best IT service provider company in Viet Nam help your business in
    getting loyalty back by transforming into latest advanced IT technology. Our
    BA, Designing, Developing, Support and Consultant team are always at your
    service to assist you in consultant, implementation, integration and
    support.
  </span>
  <div class="wrapper__home__container__fourth-section__link__container">
    <div
      class="wrapper__home__container__fourth-section__link__container__left"
    >
      <div class="wrapper__home__container__fourth-section__link__container__left__block">
        <a class="emphasis">Development</a>
        <a href="">Maintenance</a>
        <a href="">QA</a>
        <a class="hidden sm:block" href="">Security</a>
        <a class="hidden sm:block" href="">Front-End</a>
        <a class="hidden sm:block" href="">QA</a>
      </div>
      <div class="wrapper__home__container__fourth-section__link__container__left__more">
        <button class="secondary">more</button>
      </div>
    </div>
    <div
      class="wrapper__home__container__fourth-section__link__container__right"
    >
      <img src="/assets/images/svg/website.svg" alt="" />
    </div>
  </div>
  <span class="wrapper__home__container__fourth-section__title">
    our clients
  </span>
  <span class="wrapper__home__container__fourth-section__description">
  A true partnership is a two-way street — ideas and information flow openly and regularly, based on a foundation of mutual trust and respect for one another’s expertise — and our clients embrace this philosophy.
  </span>
  <div class="wrapper__home__container__fourth-section__brands__container">
    <img src="/assets/images/png/alpha_plus.png" alt="">
    <img src="/assets/images/png/spl.png" alt="">
    <img src="/assets/images/png/varroc.png" alt="">
    <img src="/assets/images/png/pizza_4ps.png" alt="">
  </div>
  <div class="wrapper__home__container__fourth-section__overlay"></div>
</div>
