<div class="wrapper__home__container__third-section">
  <div class="wrapper__home__container__third-section__left">
    <span class="wrapper__home__container__third-section__left__text--sm"
      >20+ projects</span
    >
    <span class="wrapper__home__container__third-section__left__text--md"
      >our skills</span
    >
    <p class="wrapper__home__container__third-section__left__text__paragraph">
      We offers you a global talent pool of senior full stack developers who
      have the experience working on the most complicated projects for the
      world’s largest organization. We are proud of our expertise and are ready
      to share it. We deliver perfect solutions tailored to your needs and
      business objectives. We do not just code, we care about the quality of the
      end product as much as you do.
    </p>
  </div>
  <div class="wrapper__home__container__third-section__right">
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/React_logo.svg" alt="" />
    </div>
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/PHP_logo.svg" alt="" />
    </div>
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/JS_logo.svg" alt="" />
    </div>
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/PT_logo.svg" alt="" />
    </div>
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/NET_logo.svg" alt="" />
    </div>
    <div class="wrapper__home__container__third-section__right__container">
      <img src="assets/images/svg/SF_logo.svg" alt="" />
    </div>
  </div>
  <div class="wrapper__home__container__third-section__overlay"></div>
</div>
