<footer class="wrapper__footer">
  <div class="wrapper__footer__verbal-brand">
    <img src="/assets/images/svg/BackgroundVerbal.svg" alt="" />
  </div>
  <div class="wrapper__footer__wave">
    <app-wave-border></app-wave-border>
  </div>
  <div class="wrapper__footer__extra-info">
    <div class="wrapper__footer__extra-info__container">
      <div class="wrapper__footer__extra-info__container__left">
        <a href="">Carrer</a>
        <a href="">Customer Stories</a>
        <a href="">Investor Relations</a>
        <a href="">Newsroom</a>
        <a href="">Partner Ecosystem</a>
        <div class="pt-5"></div>
        <h6>CONTACT US</h6>
        <span>khang.nguyen@infinitesoftware.org</span>
        <span>phone: +84903100458</span>
        <span class="copyright">© 2021. All rights reserved. khanvinsolution.com</span>
      </div>
      <div class="wrapper__footer__extra-info__container__right">
        <img src="/assets/images/svg/dotmap.svg" alt="">
      </div>
    </div>
  </div>
</footer>
