<div class="wrapper__contact-us__container">
  <app-contact-us-core-first-section></app-contact-us-core-first-section>
  <app-contact-us-core-second-section></app-contact-us-core-second-section>
  <app-contact-us-core-third-section
    [title]="ContentsConst.thirdSection.title"
    [subtitle]="ContentsConst.thirdSection.subtitle"
    [description]="ContentsConst.thirdSection.description"
  ></app-contact-us-core-third-section>
  <app-contact-us-core-third-section
    [title]="ContentsConst.fourthSection.title"
    [subtitle]="ContentsConst.fourthSection.subtitle"
    [description]="ContentsConst.fourthSection.description"
  ></app-contact-us-core-third-section>
  <app-shared-contact-form [type]="contactFormType"></app-shared-contact-form>
</div>
