<form class="wrapper__form">
  <div class="wrapper__form__container">
    <div class="wrapper__form__container__row">
      <input type="text">
      <input type="text">
    </div>
    <div class="wrapper__form__container__row">
      <div class="wrapper__form__field">
        <input class="wrapper__form__field__input" placeholder="Fill your email" id="email" type="text" required type="email">
        <label class="wrapper__form__field__label" for="email">Email</label>
        <div alt=""class="wrapper__form__field__icon" ></div>
        <span class="wrapper__form__field__error">Email is required</span>
      </div>
    </div>
    <div class="wrapper__form__container__row">
      <div class="wrapper__form__field">
        <input class="wrapper__form__field__input" required placeholder="Fill your phone" id="phone" type="text">
        <label class="wrapper__form__field__label" for="phone">Phone Number</label>
        <div alt=""class="wrapper__form__field__icon" ></div>
        <span class="wrapper__form__field__error">Phone is required</span>
      </div>
    </div>
  </div>
</form>
