<div class="wrapper__portfolio__detail" *ngIf="id$ | async as id">
  <p class="heading">Project PBL</p>
  <p class="subheading">the mision critical IT services by Frontend</p>
  <p class="description">
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world.
  </p>
  <div class="wrapper__portfolio__detail__image"></div>
  <p class="heading">Workspace</p>
  <p class="description">
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world.
    <br><br>
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world.
  </p>
  <br>
  <p class="heading">Our Culture</p>
  <p class="description">
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world.
    <br><br>
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world.
  </p>
</div>
<app-shared-contact-form></app-shared-contact-form>
