<div
  class="wrapper__portfolio__container__first-section"
  [ngClass]="{
    'flex-col': true,
    'sm:flex-row': !reverseLayout,
    'sm:flex-row-reverse': reverseLayout
  }"
>
  <div class="wrapper__portfolio__container__first-section__left">
    <p class="heading">{{ title }}</p>
    <img class="image" [src]="image" alt="" />
    <p class="subheading">
      <img *ngIf="subIcon" [src]="subIcon" alt="" class="subIcon" />
      {{ subtitle }}
    </p>
    <p class="description">{{ description }}</p>
    <div class="buttons">
      <button class="secondary" (click)="onMoreClick()">more</button>
    </div>
  </div>
  <div class="wrapper__portfolio__container__first-section__right">
    <img [src]="image" alt="" />
  </div>
</div>
