<header>
  <div class="wrapper__header">
    <div class="wrapper__header__container">
      <div class="wrapper__header__container__menu" (click)="toggleMobileMenu()">
        <img src="/assets/images/svg/menu.svg" alt="" />
      </div>
      <a href="/">
        <img src="/assets/images/svg/logo.svg" alt="khavinsolution" />
      </a>
      <nav class="wrapper__header__container__nav">
        <a class="wrapper__header__container__nav__link" href="/"><span>home</span></a>
        <a class="wrapper__header__container__nav__link" href="/about-us"><span>about us</span></a>
        <a class="wrapper__header__container__nav__link divider" href="/contact-us">
            <button>contact us</button>
        </a>
      </nav>
    </div>
  </div>
</header>