<div class="wrapper__portfolio__second-section">
  <p class="heading">contribute our values</p>
  <div class="wrapper__portfolio__second-section__images">
    <img src="/assets/images/png/portfolio_img2.png" alt="">
    <img src="/assets/images/png/portfolio_img1.png" alt="">
    <img src="/assets/images/png/portfolio_img3.png" alt="">
  </div>
  <p class="subheading">SPL SUCCESS STORY</p>
  <p class="description">
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world. We provide mission-critical IT services that transform global
    businesses. We deliver excellence for our customers, colleagues and
    communities around the world.
    <br><br>
    We provide mission-critical IT services that transform global businesses. We
    deliver excellence for our customers, colleagues and communities around the
    world. We provide mission-critical IT services that transform global
    businesses. We deliver excellence for our customers, colleagues and
    communities around the world.
  </p>
  <div class="buttons">
    <button class="secondary">more</button>
  </div>
</div>
