<form class="wrapper__form">
  <div class="wrapper__form__container">
    <div class="wrapper__form__container__row">
      <div
        class="w-full"
        app-input-form-field
        label="First name"
        placeholder="Fill your first name"
        [required]="true"
      ></div>
      <div
        class="w-full"
        app-input-form-field
        label="Last name"
        placeholder="Fill your last name"
        [required]="true"
      ></div>
    </div>
    <div class="wrapper__form__container__row">
      <div
        class="w-full"
        app-input-form-field
        label="Email"
        placeholder="Fill your email"
        type="email"
      ></div>
    </div>
    <div class="wrapper__form__container__row">
      <div
        class="w-full"
        app-input-form-field
        label="Phone"
        [required]="true"
        placeholder="Fill your phone"
        type="text"
      ></div>
    </div>
    <div class="wrapper__form__container__buttons">
      <button class="secondary">submit</button>
    </div>
  </div>
</form>
