<div class="wrapper__home__container__second-section">
  <div class="wrapper__home__container__second-section__left">
    <img src="/assets/images/svg/handshake.svg" alt="" />
  </div>
  <div class="wrapper__home__container__second-section__right">
    <p class="heading">We Delivers</p>
    <p class="subheading">the mision critical IT services that move the world</p>
    <p class="description">
      KhanvinSolution has been delivering success to partners across industries for over 3 years. This vast experience helped us sharpen our practices making the delivery of every project nearly flawless
    </p>
    <div class="wrapper__home__container__second-section__right__infos">
      <span class="wrapper__home__container__second-section__right__infos__item">
        <span class="index">397+</span>
        <span class="title">Project</span>
      </span>
      <div class="divider"></div>
      <span class="wrapper__home__container__second-section__right__infos__item">
        <span class="index">99%</span>
        <span class="title">Satifaction</span>
      </span>
      <div class="divider"></div>
      <span class="wrapper__home__container__second-section__right__infos__item">
        <span class="index">15</span>
        <span class="title">Customers</span>
      </span>
    </div>
  </div>
</div>
