@font-face {
  font-family: "Fira Sans";
  font-weight: 100;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../../assets/fonts/fira-sans/FiraSans-Italic.ttf") format("truetype");
}
