<div class="wrapper__home__container__first-section">
  <div class="wrapper__home__container__first-section__left">
    <p class="heading">Make the Future</p>
    <p class="subheading">Of Technology Beautiful</p>
    <p class="description">
      We provide mission-critical IT services that transform global businesses.
      We deliver excellence for our customers, colleagues and communities around
      the world.
    </p>
    <div class="buttons">
      <button class="outlined">contact</button>
      <button class="outlined">more</button>
    </div>
  </div>
  <div class="wrapper__home__container__first-section__right">
    <img src="/assets/images/svg/group.svg" alt="" />
  </div>
</div>
